body {
  background-image: url('./assets/gd-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album-card {
    text-align: center;
    background-color:bisque;
    margin-bottom: 2em;
    color: black;
}

.album-info {
  justify-self: center;
}

.album-details {
  justify-items: center;
}

.song-list {
  display: flex;
  flex-direction: column;
}