body {
  background-image: url('./assets/gd-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album-card {
    text-align: center;
    background-color:bisque;
    margin-bottom: 2em;
}