body {
  background-image: url('./assets/gd-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album-card {
    text-align: center;
    background-color:bisque;
    margin-bottom: 1em;
    color: black;
}

.album-info {
  justify-self: center;
  display: flex;
  text-wrap-mode: nowrap;
}

.album-details {
  margin-left: 5%;
  color: white;
}

.song-list {
  display: flex;
  flex-direction: column;
}

.song-item {
  display: inline-block;
  width: fit-content;
}

.audio-player {
  justify-self: center;
  width: 40%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.song-item:hover {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}